{% extends 'default.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Application
{% endblock title %}
{% block content %}


    <div class="container-fluid pt-0 app-check-box apps-create-box">
       <form action="" method="post">{% csrf_token %}
        <div class="row">
        <div class="col-md-4">
           <button type="button" onclick="window.location.href='/booking/';" class="create-app"><img src="/static/img/leftarrow.png" alt="Стрелка"></button></div>
        <div class="col-md-4 flex-box"><div class="date-box">
              {{ form.date }}
            <div id="reformDate" class="center-content"></div>
       </div>
           <button type="button" id="next_day"><img src="/static/img/rightarrow.png" alt="Стрелка"></button>
        </div>

         <div class="col-md-4">
             <div class="icon-box">
<!-- Закомментировано для будущих доработок
             <div class="icon-1 icon-frame">
                 <img class="avatar-img" src="{% static 'img/calendar.png' %}" alt="Календарь">
             </div>

               <div class="icon-2 icon-frame">
                   <img class="avatar-img"src="{% static 'img/search.png' %}" alt="Лупа">
               </div>

                <div class="icon-3 icon-frame">
                    <img class="avatar-img" src="{% static 'img/gear.png' %}" alt="Шестеренка">
                </div>-->
         </div>
         </div>
    </div>
    </div>
<br><br>
     <div class="container-fluid pt-0 app-check-box">
               <div class="row center-content mb-5">
               <div class="col-md-4"><div id="box1">Создано: {{ app.created_at|date:'d.m.Y H:i' }}</div></div>
                 <div class="col-md-4"><div id="box2">Номер заявки: {{ app.pk }}</div></div>
           </div>
    <div class="row">
        {% csrf_token %}

            <div class="error-box">
                {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
{% endif %}
        <div class="reservation-form">
   <div class="col-md-6">

<div id="div_id_client_name" class="form-group">
                <div>
                                 {{ form.client_name|as_crispy_field }}
                </div>
    </div>
<div id="div_id_client_phone" class="form-group">

            </label>
                <div>
           {{ form.client_phone|as_crispy_field }}
                </div>
    </div>

<div id="div_id_client_email" class="form-group">

<div>
                   {{ form.client_email|as_crispy_field }}
</div>
</div>

<div id="div_id_comment" class="form-group">

<div>
          {{ form.comment|as_crispy_field }}
</div>
 </div>

   </div>

               <div class="col-md-6">
                             <div class="guest-label">
                Количество гостей
            </div>



     <div class="guest-box">
                            <div class="guest-line">

                                {{ form.guest_num|as_crispy_field }}


                            </div>

                            <div class="link-arrow center-content link-arrow-back d-none"><img src="/static/img/rightarrow.png" alt="Стрелка"></div>

                            <div class="form-check-big d-none" id="div_id_guestNum">
                                <input type="radio" class="form-check-input" checked="checked" name="guestNum" value="four_g" id="bigNum" required="">
                                <label class="form-check-label" for="bigNum">
                                    <span class="results">X</span>
                                </label>
                            </div>
                            <div class="guest-arrow">

                                <div class="popup-fade">
                                    <div class="popup">
                                        {#		<a class="popup-close" href="#">Закрыть</a>#}
                                        <div class="bigVal">
                                            {{ form.number_persons|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <a class="popup-open" href="#"><div class="addNum"><div class="link-arrow center-content"><img src="/static/img/rightarrow.png" alt="Стрелка"></div></div></a>
                            </div>


                        </div>


<div class="time-box">
         {{ form.hours|as_crispy_field }}
                            {{ form.minutes|as_crispy_field }}
     </div>


<div class="btn-box">
    <div class="table-btn">
                                {{ form.table|as_crispy_field }}
                            </div>
        <div class="saveBtn-box">
            <input class="saveBtn mx-4" id="approve_btn" type="submit" value="Подтвердить"/>
                </form>
                <button onclick="location.href = '{% url 'app_cancel' pk=app.pk %}'" class="saveBtn cancelBtn">Отменить</button>
        </div>
    <button class="d-none" id="clickFirst" onclick="location.href = '{% url 'app_validate' pk=app.pk %}'; return false;">Проверяется</button>
    <button class="d-none"> <a href="{% url 'app_finish' pk=app.pk %}">Завершить</a></button>
</div>
               </div>
</div>
</div>
</div>
</div>
 <script>

 $(document).ready(function($) {
     changeStatus()

 function changeStatus() {
      if ('{{ app.status }}' === 'NEW') {
      $('#clickFirst').click();

 } else if ( window.location.href.includes('validate') ) {
          window.location.href = '/booking/{{ app.pk }}'
      }

 }
 let myDate = $('#id_date').val();
        let month = myDate[5] + myDate[6];

        function checkMonth(month) {
            if (month == '05') {
                return month = 'мая'
            } else if (month == '06') {
                return month = 'июня'
            } else if (month == '07') {
                return month = 'июля'
            } else if (month == '08') {
                return month = 'августа'
            } else if (month == '09') {
                return month = 'сентября'
            } else if (month == '10') {
                return month = 'октября'
            } else if (month == '11') {
                return month = 'ноября'
            } else if (month == '12') {
                return month = 'декабря'
            } else if (month == '01') {
                return month = 'января'
            } else if (month == '02') {
                return month = 'февраля'
            } else if (month == '03') {
                return month = 'марта'
            } else if (month == '04') {
                return month = 'апреля'
            }
        }




        $('#reformDate').html(myDate[8]+myDate[9] + ' ' + checkMonth(month))




        function showCalendar() {
            let el = document.getElementById("id_date");
            el.showPicker()
        }

        $("#reformDate").click(function() {
            showCalendar();
        });


        $('#id_date').change(function(){
            myDate = $('#id_date').val();
            let month = myDate[5] + myDate[6];
            $('#reformDate').html(myDate[8]+myDate[9] + ' ' + checkMonth(month));
        });



	$('.popup-open').click(function() {
		$('.popup-fade').fadeIn();
              $('.guest-line .form-check-input').prop('checked', false);
		return false;
	});

	$('.popup-close').click(function() {
		$(this).parents('.popup-fade').fadeOut();
		return false;
	});

	$(document).keydown(function(e) {
		if (e.keyCode === 27) {
			e.stopPropagation();
			$('.popup-fade').fadeOut();
              $('.guest-line .form-check').addClass('d-none');
              let res = $('.numberinput').val()
              $('.results').html(res);
              $('.guest-line .form-check-input').prop('checked', false);
               $('.form-check-big .form-check-input').prop('checked', true);
              $('.form-check-big').removeClass('d-none');
            $('.link-arrow-back').removeClass('d-none');
		}
	});

    $(document).keydown(function(e) {
		if (e.keyCode === 13) {
			e.stopPropagation();
			$('.popup-fade').fadeOut();
              $('.guest-line .form-check').addClass('d-none');
              let res = $('.numberinput').val()
              $('.results').html(res);
              $('.guest-line .form-check-input').prop('checked', false);
               $('.form-check-big .form-check-input').prop('checked', true);
              $('.form-check-big').removeClass('d-none');
            $('.link-arrow-back').removeClass('d-none');
		}
	});


	$('.popup-fade').click(function(e) {
		if ($(e.target).closest('.popup').length == 0) {
			$(this).fadeOut();
               $('.guest-line .form-check').addClass('d-none');
              let res = $('.numberinput').val()
              $('.results').html(res);
              $('.guest-line .form-check-input').prop('checked', false);
               $('.form-check-big .form-check-input').prop('checked', true);
              $('.form-check-big').removeClass('d-none');
            $('.link-arrow-back').removeClass('d-none');
		}
	});



$( '.link-arrow-back' ).on( "click", function() {
 $('.guest-line .form-check').removeClass('d-none');
 $('.form-check-big').addClass('d-none');
 $('.form-check-big .form-check-input').prop('checked', false);
  $('.link-arrow-back').addClass('d-none');
} );



$('#id_table').on('change', function (e) {
if($("#id_table option:selected").text() !== "Не выбран"){
    $('#id_table').addClass('active-select');
 } else {
   $('#id_table').removeClass('active-select');
}
});





        $('#next_day').on('click', function () {
            let now = $('#id_date').val();
            now = new Date(new Date(now).setDate(new Date(now).getDate() + 1));
            function convert(date) {
                let d = Date.parse(date)
                let date_obj = new Date(d)
                return `${date_obj.getFullYear()}-${date_obj.toLocaleString("default", { month: "2-digit" })}-${date_obj.toLocaleString("default", { day: "2-digit"})}`
            }
            let tomorrow = convert(now);
            $('#id_date').val(tomorrow);
            myDate = $('#id_date').val();
            month = myDate[5] + myDate[6];
            $('#reformDate').html(myDate[8]+myDate[9] + ' ' + checkMonth(month));
            return false;
        });




$('#div_id_hours').find("input[value='{{ app.time|date:'H' }}']").prop('checked', true);
$('#div_id_minutes').find("input[value='{{ app.time|date:'i' }}']").prop('checked', true);

if ({{ app.number_persons }} < 11) {
  $('#div_id_guest_num').find("input[value='{{ app.number_persons }}']").prop('checked', true);
 } else {
  $('#div_id_guest_num').addClass('d-none');
  $('.form-check-big').removeClass('d-none');
  $('.form-check-big .results').html({{ app.number_persons }});
 }

    function limit_input() {
        var field = document.getElementById("number_field");
        var max_length = 3;
        if (field.value.length > max_length) {
            field.value = field.value.slice(0, max_length);
        }
    }


});

 </script>



{% endblock content %}
