{% extends 'default.html' %}

{% block title %}
	Application
{% endblock title %}

{% block content %}
    <h2>Заявка на бронирование: {{ app.pk }}.<br>
		Создана: {{ app.created_at|date:'d.m.Y H:i' }}.<br>
		Статус: {{ app.get_status_display }}.
	</h2>
	<hr>
	Дата брони: {{ app.date|date:'d.m.Y' }}<br>
	Время брони: {{ app.time|date:'H:i' }}<br>
	Количество гостей: {{ app.number_persons }}<br>
	Имя клиента: {{ app.client_name }}<br>
	Телефон: {{ app.client_phone }}<br>
	Электронная почта: {{ app.client_email }}<br>
	Комментарий: {{ app.comment }}<br>
	<hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
		{% if app.status == 'NEW' %}
			<button> <a href="{% url 'app_validate' pk=app.pk %}">Проверяется</a></button>
		{% endif %}
		<br>
    	<br>
		{% if app.status != 'CAN' and app.status != 'FIN' %}
        	<button> <a href="{% url 'app_cancel' pk=app.pk %}">Отменить</a></button>
		{% endif %}
		{% if app.status == 'NEW' or app.status == 'VAL' %}
			<input type="submit" value="Подтвердить"/>
		{% endif %}
		<hr>
		{% if app.status != 'CAN' and app.status != 'FIN' %}
			<button> <a href="{% url 'app_finish' pk=app.pk %}">Завершить</a></button>
		{% endif %}
    </form>

{% endblock content %}
