{% extends 'default.html' %}

{% block title %}
    Dish Add
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<head>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
  integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
  integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
</head>

    <h1>Добавить товар</h1>


       <div class="container-fluid">
    <form class="dish_form" enctype="multipart/form-data" action="" method="post">
       {% csrf_token %}
    <div class="row center-content">
        <div class="col-4">
        <div class="row pb-2">
            <div class="col">
                  {{ form.name|as_crispy_field }}
            </div>
        </div>
            <div class="row">
                <div class="col-3 center-content">
                     <img class="upload_img" src="/static/img/upload.png">
                          	{% if dish.picture %}
                         <input class="upload_hide" type="file" name="picture" accept="image/*" class="clearablefileinput form-control-file" id="id_picture">

                                <img src="{{ dish.picture.url }}" width="90px">

					{% else %}
                    <input class="upload_hide" type="file" name="picture" accept="image/*" class="clearablefileinput form-control-file" id="id_picture">
                                <p style="text-align: center">Нет картинки</p>
					{% endif %}
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-4" style="min-width: 90px;">
                                {{ form.price|as_crispy_field }}
                        </div>
                    </div>
                     <div class="row">
                                <div class="col">
                    {{ form.description|as_crispy_field }}
            </div>
{#                            <div class="col">#}
{#                    <div id="div_id_nacenka" class="form-group"><label for="id_nacenka" class="requiredField">Наценка</label><div>#}
{#<input readonly type="text" name="nacenka" value="{{ dish.margin }}%" step="any" class="numberinput form-control" required="" id="id_nacenka"></div>#}
{#</div>#}
{#                        </div>#}
                    </div>

                </div>

            </div>

          <div class="row">
                        <div class="col-6">
{{ form.store|as_crispy_field }}
                        </div>
                          <div class="col-6">
{{ form.menu_section|as_crispy_field }}
                        </div>
                    </div>


        <div class="row">
            <div class="col">
                {{ form.sticker|as_crispy_field }}
            </div>
        </div>

                  <div class="row">
                        <div class="col">
    {{ form.discount|as_crispy_field }}
                        </div>
                          <div class="col">
    {{ form.discount_rub|as_crispy_field }}
                        </div>
                    </div>

            <div class="row">
                        <div class="col">
    {{ form.increment|as_crispy_field }}
                        </div>
                          <div class="col">
    {{ form.increment_rub|as_crispy_field }}
                        </div>
                    </div>



        <div class="row pt-4 common-font" style="text-align: left; font-size: 16px; font-weight: 400;">
            <div class="col">
               Показывать эту позицию:
            </div>
        </div>

       <div class="row pt-2">
            <div class="col normal_labels">
          {{ form.is_in_POS|as_crispy_field }}
              {{ form.is_in_delivery|as_crispy_field }}
            </div>
        </div>

        <div class="row pt-5">
            <div class="col save_block">
                         <input class="saveBtn" type="submit" value="Сохранить">
                 </form>
           <button onclick="location.href = '/dishes'" class="saveBtn cancelBtn">Отменить</button>

            </div>
        </div>



            </div>
        </div>


        </div>


    <script>


{#$('#id_picture').change(#}
{#    function(e){#}
{#        alert('Файл загружен')#}
{#    });#}

//Multiselect

{#$('select[multiple] option').on('mousedown', function(e) {#}
{#    var $this = $(this),#}
{#        that = this,#}
{#        scroll = that.parentElement.scrollTop;#}
{##}
{#    e.preventDefault();#}
{#    $this.prop('selected', !$this.prop('selected'));#}
{##}
{#    setTimeout(function() {#}
{#        that.parentElement.scrollTop = scroll;#}
{#    }, 0);#}
{##}
{#    return false;#}



  $(function () {
    $("#id_menu_section").selectize({
      plugins: ["restore_on_backspace", "remove_button"],
      delimiter: " - ",
      persist: false,
      maxItems: null,
      valueField: "email",
      labelField: "name",
      searchField: ["name", "email"],
    });
  });

function limit_input(length, id) {
			var field = document.getElementById(id);
			var max_length = length;
			if (field.value.length > max_length) {
				field.value = field.value.slice(0, max_length);
			}
		}

    </script>


{% endblock content %}
