{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
	Dishes
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid pb-5">
    <div class="row pb-5 justify-content-between">
    <div class="col">
  	<button class="create-app"  onclick="window.location.href='{% url 'dish_create' %}';">Добавить</button>
    </div>
        <div class="col d-flex justify-content-end">
            <div class="dishes-top-menu d-flex justify-content-between px-3 py-2">
                <button onclick="window.location.href='/menu/';">Разделы каталога</button>
                 <button class="btn_stop" onclick="window.location.href='{% url 'dishes_stoplist' %}';">Стоп-лист</button>
                   <button class="btn_active d-none" onclick="window.location.href='{% url 'dishes_instock' %}';">Активные</button>
            </div>
        </div>
    </div>

    	<form class="filters-form" enctype='multipart/form-data' action="" method="get">
    <div class="row pb-5">

	<!--  Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе -->

        <div class="col" style="display: flex;">
             <div class="col-3 me-2">
                   {{ filterset.form.store|as_crispy_field }}
             </div>
             <div class="col-3">
                 {{ filterset.form.menu_section|as_crispy_field }}
             </div>
            		<!-- Форма для фильтрации -->

        </div>




            <div class="col" style="display: flex;justify-content: flex-end;">
         <div class="col-4 me-2">
            		<!-- Форма для сортировки -->


           {{ sortform }}

		<input class="d-none" id="filter_sub" type="submit" value="Сортировать">
         </div>

                <div class="col-4">
		{{ filterset.form.name|as_crispy_field }}
		<input class="d-none" id="form_sub" type="submit" value="Найти" />
                </div>
        </div>


</div>
	</form>
	{% if dishes %}

        <div class="row common-font mb-4" style="font-size: 16px !important;">
        <div class="col-1">Фото</div>
         <div class="col-5" style="text-align: left">Наименование</div>
         <div class="col">Цена</div>

         <div class="col">В наличии</div>
         <div class="col">Удалить</div>
        </div>

	{% for dish in dishes %}
        <div class="row catalog-row style="font-size: 16px !important;"">
                <div class="col-1 center-content" style="text-align: center">
       	{% if dish.picture %}
						<img src="{{ dish.picture.url }}" width="54px">
					{% else %}
					Нет картинки
					{% endif %}
                </div>
            <div class="col-5 center-content" style="justify-content: flex-start"><a href="{% url 'dish_detail' pk=dish.pk %}">{{ dish.name }}</a></div>
                 <div class="col center-content change-price" onclick="removeStyle(this);">
                 	<form action="" method="post" class="change-price-form position-relative">
					{% csrf_token %}
					{% if dish.price != dish.price_discount %}
                        <div class="row flex-nowrap">
                            <div class="col px-0">{{ dish.price_discount|floatformat:2 }} &#8381;</div>
                            <div class="col px-1"><p style="text-decoration: line-through">	{{ dish.price|floatformat:2 }} &#8381;</p></div>

                        <div class="hide-input d-none">
                                        <div class="row flex-nowrap bg-white">
                                 <div class="col">
					<input class="price-input" type="number" name="{{ dish.pk }}" id="{{ dish }}" value="{{ dish.price|floatformat:2 }}"
								   oninput="limit_input(id)">
                                 </div>
                                                  <div class="col px-0 mx-0">
						<input class="save-input" type="submit" value="">
                                                       </div>
                                             </div>
                        </div>
                          </div>
					{% else %}
                             <div class="row flex-nowrap bg-white">
                         <div class="col px-0">
                        {{ dish.price|floatformat:2 }} &#8381;
                         </div>

                        <br>
                         <div class="hide-input d-none">
                             <div class="row flex-nowrap">
                                 <div class="col">
						<input class="price-input" type="number" name="{{ dish.pk }}" id="{{ dish }}" value="{{ dish.price|floatformat:2 }}"
							   oninput="limit_input(id)">
                                        </div>
                                    <div class="col px-0 mx-0">
						<input class="save-input" type="submit" value="">
                                         </div>
                                  </div>
                         </div>
                              </div>
					{% endif %}
					</form>

                 </div>

                 <div class="col center-content">{% if not dish.is_in_stop_list %}
					<a class="toggle-link" href="{% url 'dish_addsl' pk=dish.pk %}">

                     <div class="toggleWrapper">
  <input type="checkbox" name="toggle1" class="mobileToggle" id="toggle1" checked>
  <label for="toggle1"></label>
</div>
                    </a>
					{% else %}

					<a class="toggle-link" href="{% url 'dish_delsl' pk=dish.pk %}">

                     <div class="toggleWrapper">
  <input type="checkbox" name="toggle2" class="mobileToggle" id="toggle2">
  <label for="toggle2"></label>
</div></a>

					{% endif %}</div>
                 <div class="col center-content"><a href="{% url 'dish_delete' pk=dish.pk %}"><img src="/static/img/delete.png" width="48px"></a></div>
        </div>
	{% endfor %}



	{% else %}
		<p>Товаров нет!</p>
	{% endif %}
	<!-- Добавляем пагинацию на страницу -->
	<!-- Информация о предыдущих страницах -->
    <div class="pagination-box mt-5">
	{% if paginator.num_pages != 1 %}
		{% if page_obj.has_previous %}
            <button class="pagination-button disabled" id="prev-button" aria-label="Previous page" title="Previous page" disabled="true">
                           	<a href="?{% url_replace page=1 %}"><img src="/static/img/leftarrow_black.png" alt="Стрелка"></a>
                        </button>



            <a href="?{% url_replace page=page_obj.previous_page_number %}"><button class="pagination-number" page-index="2" aria-label="Page 2">{{ page_obj.previous_page_number }}</button></a>
		{% endif %}
		<!-- Информация о текущей странице -->
		 <button class="pagination-number active">{{ page_obj.number }}</button>
		<!-- Информация о следующих страницах -->
		{% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}"><button class="pagination-number">{{ page_obj.next_page_number }}</button></a>


            <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}"><img src="/static/img/rightarrow.png" alt="Стрелка"></a>
                        </button>

		{% endif %}
	{% endif %}
</div>




  <script>

function removeStyle(element) {
  $( ".hide-input" ).each(function() {
  $( this ).addClass('d-none');
});

   let el = $(element).find(".hide-input");
   el.removeClass('d-none');
}


$('.price-input').keypress(function (e) {
  if (e.which == 13) {
    $('.change-price-form').submit();
  }
});



$(document).on('keydown', function(event) {
       if (event.key == "Escape") {
            $('.change-price-form').each(function(){
    this.reset();
});
          $('.hide-input').addClass('d-none');
       }
   });

  $("#id_store").on("change",function() {
    $("#form_sub").click();
});
   $("#id_menu_section").on("change",function() {
    $("#form_sub").click();
});
     $("#id_ordering").on("change",function() {
    $("#filter_sub").click();
});
     $("#id_name").on("change",function() {
    $("#form_sub").click();
});

function limit_input(id) {
			var field = document.getElementById(id);
			var max_length = 7;
			if (field.value.length > max_length) {
				field.value = field.value.slice(0, max_length);
			}
		}

$(document).ready(function() {
    if (window.location.href.indexOf("stoplist") > -1) {
      $('.btn_stop').addClass('d-none');
       $('.btn_active').removeClass('d-none');
        $('.btn_active').addClass('blue-text-btn');
    } else if (window.location.href.indexOf("instock") > -1) {
          $('.btn_stop').addClass('blue-text-btn');
    }
  });
</script>





{% endblock content %}

</div>