<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение брони</title>
</head>
<body>
    <h2>Здравствуйте, {{ name }}. Спасибо, что выбрали наш ресторан.</h2>
    <hr>
    <ul>За Вами забронирован столик
        <li>дата: {{ date|date:'d.m.Y' }}</li>
        <li>время: {{ time|date:'H:i' }}</li>
    </ul>
    <p>Если по какой-либо причине Вы не сможете прийти в указанный день и время, пожалуйста, сообщите нам,
        чтобы мы могли освободить столик для других гостей.</p>
</body>
</html>